<div class="container">
    <div class="white_box">
        <div class="alert alert-danger" *ngIf='message.length>0'>Error!: {{message}}</div>
        <h4 class="page_title text-center font-weight-bold mb-4">Delete user</h4>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="row ">
                    <div class="col-md-5">
                        <h5 *ngIf='user.Username.length!=0;else noUsername' class="username text-wrap font-weight-bold text-primary">{{user.Username}}</h5>
                        <ng-template #noUsername>
                            <h5 class="username text-wrap font-weight-bold text-primary">N/A</h5>
                        </ng-template>
                        <p class='firstname'>{{user.FirstName}} {{user.LastName}}</p>
                    </div>
                    <div class="col-md-7 ">
                        <p *ngIf='user.Birthday.length!=0;else noBirthday' class="birthday d-flex flex-nowrap"><img class='icon icon_email' src="../../../assets/img/stork.png" alt="">{{user.Birthday|date:'dd-MM-yyyy'}}</p>
                        <ng-template #noBirthday>
                            <p class="birthday d-flex flex-nowrap"><img class='icon icon_email' src="../../../assets/img/stork.png" alt="">N/A</p>
                        </ng-template>
                        <p *ngIf='user.Email.length!=0; else noEmail' class="email">
                            <a class=" d-flex flex-nowrap" href="mailto:{{user.Email}}"><img class='icon' src="../../../assets/img/email.png" alt="">{{user.Email}}</a>
                        </p>
                        <ng-template #noEmail>
                            <p class="email">
                                <a class=" d-flex flex-nowrap" href=""><img class='icon' src="../../../assets/img/email.png" alt="">N/A</a>
                            </p>
                        </ng-template>
                    </div>
                    <h6 class='text-center font-weight-bold w-100 my-4'>Are you sure?</h6>
                    <div class="buttons-container w-100 d-flex justify-content-center">
                        <button (click)='deleteUser()' class="button btn btn-primary">Yes, delete</button>
                        <button [routerLink]="['/users']" class="button btn btn-secondary">Cancel</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>