<div class="container">
    <div class="white_box">
        <div class="alert alert-danger" *ngIf='message.length>0'>Error!: {{message}}</div>
        <h4 class="page_title text-center font-weight-bold mb-2">Edit user</h4>
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="userEditForm">
                <div class="form-group">
                    <label>First name</label>
                    <input formControlName='firstName' type="text" class="form-control" placeholder="John">
                    <div class="alert alert-danger" *ngIf='  (formHasErrors && userEditForm.controls.firstName.errors)||(userEditForm.controls.firstName.touched && userEditForm.controls.firstName.errors)'>Required field</div>

                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input formControlName='lastName' type="text" class="form-control" placeholder="House">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input formControlName='username' type="text" class="form-control" placeholder="johnh">
                </div>
                <div class="form-group">
                    <label><img class='icon'src="assets/img/email.png">Email</label>
                    <input formControlName='email' type="email" class="form-control" placeholder="john.house@example.com">
                </div>
                <div class="form-group">
                    <label><img class='icon'src="assets/img/stork.png">Birthday</label>
                    <input formControlName='birthday' type="text" class="form-control" [value]="user.Birthday|date:'yyyy-MM-dd'">
                </div>
                <div class="buttons-container d-flex justify-content-center ">
                    <button (click)='updateUser()' class="button btn btn-primary">Save</button>
                    <button [routerLink]="['/users']" class="button btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>