/deep/ .ngx-pagination {
    padding: 0;
}

@media (max-width: 450px) {
    /deep/ .ngx-pagination {
        a {
            padding: 2px 7px !important;
        }
    }
}

@media (max-width: 350px) {
    /deep/ .ngx-pagination {
        a {
            padding: 2px 5px !important;
            font-size: 0.8rem;
        }
    }
}