$background:#f2f3f8;
$white:#fff;
$light_blue: #669DCC;
$blue:#2B75B4;
$light_red:#E84D3E;
$red:#C13A2B;
$light_green:#A5C53B;
$green:#90B121;
$light_yellow:#EDEB5B;
$yellow:#ECD900;
$light_purple:#553263;
$purple:#3D0352;
$light_grey:#9f9f9f;
$grey:#202020;
$black:#101010;